{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "es6": true
  },
  "globals": {
    "source": true,
    "VideoPager": true,
    "http": true,
    "ScriptException": true,
    "UnavailableException": true,
    "PlatformVideoDetails": true,
    "PlatformID": true,
    "Thumbnails": true,
    "Thumbnail": true,
    "PlatformAuthorLink": true,
    "RatingLikes": true,
    "VideoSourceDescriptor": true,
    "HLSSource": true,
    "PlatformVideo": true,
    "log": true,
    "Type": true
  }
}